*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
}

body{
    padding: 0;
    margin: 0;
    background-color: #fea49f;
    color: white;
    z-index: 0;
    overflow-x: hidden;
}

header{
    background-color: #101357;
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

header h1{
    font-size: 34px;
    font-weight: 200;
    margin: 0 5vh 1vh 3vh;
    border-bottom: 2px solid #fbaf08;
}

nav{
    margin-right: 8vw;
}

nav button{
    background: none;
    color: white;
    border: none;
    font-size: 24px;
    margin: 0 1vw 1vh 1vw;
    cursor: pointer;
}

nav button:after{
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 #fbaf08;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

nav button:hover:after{
    width: 100%;
}

#welcome-banner{
    display: flex;
    width: 80vw;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 8vw;
    margin-top: -20vh;
    padding-bottom: 5vh;
    background-color: #fbaf08;
    position: absolute;
    padding: 2vh;
}

#welcome-banner h1{
    font-weight: 200;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: #101357 solid 3px;
    font-style: italic;
    font-size: 36px;
}

#food-banner{
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#food-banner img{
    margin-top: 20vh;
    width: 3000px;
}

#about-container{
    background-color: #101357;
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin-left: 18vw;
    margin-top: 8vh;
    padding: 2vw;
}

#about-container h1{
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    border-bottom: #fbaf08 6px double;
}

#about-container p{
    line-height: 4vh;
}

